<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/styles.css">
    <meta name="description" content="Explore the World: Your go-to travel resource for destinations, guides, and more.">
    <meta name="keywords" content="Travel, Destinations, Blog, Explore, World">
</head>
